
@{
    ViewBag.Title = "Kurumsal Ajanda - Anasayfa";
}
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4 fa fa-tachometer fa-3x" style="color:#fff; background-color:#364155;">Deneme</div>
        <div class="col-lg-4 fa fa-inbox fa-3x" style="color:#fff; background-color:#14C1d7">Deneme</div>
        <div class="col-lg-4 fa fa-inbox fa-3x" style="color:#fff; background-color:#5FD78A">Deneme</div>
    </div>                 
</div>                     
<div class="row">          
    <div class="col-lg-12">
        <div class="col-lg-4 fa fa-inbox fa-3x" style="color:#fff; background-color:#FF8B63">Deneme</div>
        <div class="col-lg-4 fa fa-inbox fa-3x" style="color:#fff; background-color:#F17060">Deneme</div>
        <div class="col-lg-4 fa fa-inbox fa-3x" style="color:#fff; background-color:#FDC669">Deneme</div>
    </div>
</div>

