
@{
    ViewBag.Title = "yetki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<table align="center">
    <tr>
        <td align="center"><img src="~/template/images/yetki.png" width="200" height="200" /><br /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><h3 style="color:red">Bu sayfaya erişmeye yetkiniz yoktur!</h3></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><h4>Anasayfaya dönmek için <a href="~/Home/Index">Tıklayınız...</a></h4></td>
    </tr>

</table>

